@media screen and (max-width: 480px) and (orientation: portrait)   {
    .container {
       margin-right: 0.1rem;
       margin-left: 0.1rem;
        
    }
    
    #suggestions button {
        min-width: 120px;
    }
}